__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.out.ipynb
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
scratch/

# default notebook output directories
notebooks/synth_ww_output/
notebooks/ww_output/
notebooks/asr2tts_workspace/
